



body,
html {
  position: relative;
  min-height: 100%;
}
body {
  color: #343a40;
  font-family: 'Sarabun', sans-serif;
  background: #007bff;
  background: linear-gradient(to right, #0062E6, #33AEFF);
  margin-bottom: 60px; /* Margin bottom by footer height */
  overflow-x: hidden; /* Hide horizontal scrollbar */
  overflow-y: auto; /* Add vertical scrollbar */
}


a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.ani-icons {
  width: 120px;
  height: 120px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 0px; /* Set the fixed height of the footer here */
  line-height: 0px; /* Vertically center the text there */
}

.container {
  width: auto;
  /*max-width: 680px;*/
  padding: 0 15px;
}

::-moz-selection {
  color: #fff;
  background: #263238;
  text-shadow: none;
}

::selection {
  color: #fff;
  background: #263238;
  text-shadow: none;
}

.wrimagecard{	
	margin-top: 0;
    margin-bottom: 1.5rem;
    text-align: left;
    position: relative;
    background: #fff;
    box-shadow: 12px 15px 20px 0px rgba(46,61,73,0.15);
    border-radius: 4px;
    transition: all 0.3s ease;
}
.wrimagecard i{
	position: relative;
}
.wrimagecard-topimage_header{
	padding: 10px;
	font-size: 70px;
}
a.wrimagecard:hover, .wrimagecard-topimage:hover {
    box-shadow: 2px 4px 8px 0px rgba(46,61,73,0.2);
}
.wrimagecard-topimage a {
    width: 100%;
    height: 100%;
    display: block;
}
.wrimagecard-topimage_title {
    padding: 10px 24px;
    height: 60px;
    padding-bottom: 0.75rem;
    position: relative;
}
.wrimagecard-topimage a {
    border-bottom: none;
    text-decoration: none;
    color: #525c65;
    transition: color 0.3s ease;
}

.separator {
  margin: 1.5rem 0;
  border-bottom: 1px dashed #fff;
}
  
/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/

.vertical-nav {
  min-width: 17rem;
  width: 17rem;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  transition: all 0.4s;
  overflow-x: hidden; /* Hide horizontal scrollbar */
  overflow-y: auto; /* Add vertical scrollbar */
  /*box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);*/
}

.page-content {
  width: calc(100% - 17rem);
  margin-left: 17rem;
  transition: all 0.4s;
}

/* for toggle behavior */

#sidebar.active {
  margin-left: -17rem;
}

#content.active {
  width: 100%;
  margin: 0;
}

@media (max-width: 768px) {
  #sidebar {
    margin-left: -17rem;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #content {
    width: 100%;
    margin: 0;
  }
  #content.active {
    margin-left: 17rem;
    width: calc(100% - 17rem);
  }
}

/*
*
* ==========================================
* FOR DEMO PURPOSE
* ==========================================
*
*/


/* Style the sidenav links and the dropdown button */
.nav-item a, .dropdown-btn{
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}
.nav-item a:hover, dropdown-btn:hover {
  color: none;
  background-color: none;
}
.dropdown-btn, .fa-caret-down {
  float: right;
  padding-right: 8px;
  padding-top: 5px;
}
.dropdown-container {
  font-size: 14px;
  display: none;
  background-color: none;
  padding-left: 8px;
}


/*.active {
  background-color: green;
  color: white;
}*/